#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formik {width: 100px;
  background-color: orange;
  padding: 15px 40px 15px 40px;
  border-radius: 15px;
  color: black}

.d29 {
  width: 100px; 
  height: 80px;
  background: #BDE2E0;
  border-radius: 50%/10%;
  position: relative;
  }
  .d29:before {
  content: "";
  position: absolute; 
  top: 10%; 
  bottom: 10%; 
  right: -5%; 
  left: -5%;
  background: inherit;
  border-radius: 5%/50%;
  }

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #c64a4a;
}
